@charset "UTF-8";

.sub_wrap {background-color: #EFEFEF;}
.sub_title {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
}
.sub_title h2{
    text-align: center;
    line-height: 50px;
}

.sub_con {}
.sub_con > p {
    padding: 20px 0 10px 12px;
    font-size: 14px;
}
/********** 의료진 **********/
.sub_search {
    position: relative;
    background-color: #FFFFFF;
    border:1px solid #ddd;
    margin: 0 12px;
    padding: 25px 17px 17px;
    border-radius: 5px;
}
.sub_search_input { 
    border: none;
    border-bottom: 1px solid #bbb;
    height: 30px;
    padding-left: 10px;
    width: calc(100% - 61px);
}
.sub_search_input::placeholder{
    color: #999;
    font-size: 12px;
}
.sub_search_btn { 
    position: absolute;
    right: 10px;
    display: inline-block;
    border: none; border-radius: 2px;
    padding: 8px 12px;
    width: 49px;
    font-size: 12px;
    background-color: #666666;
    color: #FFFFFF;
}

.conlist {
    padding: 20px 6px 0;
    overflow: hidden;
}
.conlist li { 
    float: left;
    width: 50%;
    padding: 6px;
}
.conlist a {
    display: block;
    height: 100px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
}
.conlist img {}


/********** 진료예약 **********/
.notice {
    background-color: #ff6000;
    margin: 25px 10px;
    padding: 15px 20px;
}
.notice p {color: #fff;font-size: 15px;}
.notice p.first{color: yellow;/*! font-weight: bold; */font-size: 18px;margin-bottom: 10px;}
.notice p.last{color: yellow;/*! font-weight: bold; */margin-top: 10px;}

.sub_con p.pd_n{padding: 10px;}

.conlist li.long{ width: 100%;}

.reser_btn{ 
    background-color: #666666;
    margin: 20px 12px;
    border-radius: 2px;
    height: 40px;
}
.reser_btn p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    background-image: url(../img/reservation/bul_num.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: 340px;
    background-position-y: 8px;
}