@charset "UTF-8";

.sub_wrap{ 
    background:#EFEFEF;
    min-height: 550px;
}
.sub_title { 
    background:#fff;
    border-bottom:1px solid #b9b9b9;  
    display: flex;
}
.sub_title h2 { 
    text-align:center;
    line-height:50px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.sub_title a.back{
    display: inline-block;
    background-image: url(../img/check/img_prev.png);
    width: 45px; height: 50px;
    background-size: contain;
    font-size: 0;
}
.sub_con > p { 
    padding:20px 0 10px 12px;
    font-size:14px;
}
.sub_search { 
    position: relative;
    background:#fff;
    border:1px solid #b9b9b9;
    margin:0 12px;
    padding:25px 17px 17px;
    border-radius:5px;
}
.sub_search_input {
    border:none;
    border-bottom:1px solid #b9b9b9;
    height:30px;
    padding-left:10px;
    width:calc(100% - 70px)
}
.sub_search_input::placeholder {
    color:#999; font-size:12px;
}
.sub_search_btn {
    position:absolute; right:12px;
    display:inline-block; 
    padding:8px 12px;
    border:none; border-radius:2px;
    width:50px;
    background:#666; color:#fff;
    font-size:12px;
}
.conlist { 
    padding:20px 6px 0;
    overflow:hidden; 
}
.conlist li { 
    float: left;
    width:50%;
    padding: 6px; 
}
.conlist a {  
    display:block;
    height:100px;
    background:#fff;
    border:1px solid #b9b9b9;
    border-radius:2px;
    text-align:center;
}


/********** 진료예약 **********/
.notice {
    background-color: #ff6000;
    margin: 25px 10px;
    padding: 15px 20px;
}
.notice p {color: #fff;font-size: 15px;}
.notice p.first{color: yellow;/*! font-weight: bold; */font-size: 18px;margin-bottom: 10px;}
.notice p.last{color: yellow;/*! font-weight: bold; */margin-top: 10px;}

.sub_con p.pd_n{padding: 10px;}

.conlist li.long{ width: 100%;}

.reser_btn{ 
    background-color: #666666;
    margin: 20px 12px;
    border-radius: 2px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.reser_btn img{
    width: 24px;
    height: 24px;
    margin: 8px 6px;
}
.reser_btn p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}


/********** 예약조회 **********/
.check_sub_title{
    display: flex;
    background:#fff;
    border-bottom:1px solid #b9b9b9;  
}
.check_sub_title h2 { 
    line-height:50px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.check_sub_title a.back{
    display: inline-block;
    background-image: url(../img/check/img_prev.png);
    width: 45px; height: 50px;
    background-size: contain;
    font-size: 0;
}
.login{
    display: flex;
    padding: 20px 10px 0;
}
.login_inputs{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.login_inputs input{
    border: none;
    border: 1px solid #b9b9b9;
    height: 35px;
    padding-left: 10px;
    width:calc(100% - 85px);
    margin-bottom: 5px;
}
.login_inputs input::placeholder {
    color:#999; font-size:13px;
}
.login_btn button{
    position:absolute; right:12px;
    display:inline-block; 
    padding:8px 12px;
    border:none; border-radius:2px;
    width:75px; height: 75px;
    background:#4AB8BC; color:#fff;
    font-size:13px;
}
.sub_con > p span{
    color: #4AB8BC;
    font-weight: bold;
}
.help{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.help_search{}
.help_search ul{ 
    display: flex;
    justify-content: center;
}
.help_search li{
    border-right: 1px solid #ddd;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 14px;
    color: #aaa;
    font-weight: bold;
}
.help_search li:last-of-type{
    border: none;
}
.help_signup{
    background-color: #4AB8BC;
    color: #fff;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.error{
    background-color: #fff;
    margin: 20px 10px;
    display: flex;
    padding: 5px;
}
.error img{
    width: 15px; height: 15px;
}
.error p{
    color: rgb(226, 23, 23);
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
}

/********** 전화번호 안내 **********/
.number_wrap{
    margin: 10px 5px;
}
.number_wrap ul{}
.number_wrap li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 0 5px;
}
.number_wrap li p{
    font-size: 14px;
    line-height: 50px;
}
.number_wrap li a{
    background-color: #4AB8BC;
    height: 30px;
    width: 80px;
    margin: 10px 0;
    border-radius: 2px;
}
.number_wrap li a p{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: -10px 11px;
}

/********** 건강검진 예약 **********/
.table{
    margin: 5px 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.table tr{}
.table td.title{    
    background-color: #4ab8bc;
    color: #fff;
    padding: 20px 5px;
    width: 35%;
    font-size: 14px;
    font-weight: bold;
}
.table td{
    background-color: #fff;
    border: 1px solid #ddd;
}
.table tr:nth-of-type(1) td input{
    width: calc(100% - 20px);
    height: 30px;
    margin: 10px;
    border: 1px solid #ddd;
}
.table tr:nth-of-type(2) td input{
    margin-left: 10px;
    color: #aaa;
}
.table tr:nth-of-type(3) td:nth-of-type(2){
    font-size: 13px;
    color: #aaa;
    text-decoration-line: line-through;
}
.table tr:nth-of-type(4) td input{
    width: calc(100% - 20px);
    height: 30px;
    margin: 10px;
    border: 1px solid #ddd;
}
.table tr:nth-of-type(4) td input::placeholder{
    color:#999; 
    font-size:13px;
    padding-left: 10px;
}
.table tr:nth-of-type(5) td textarea{
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
}

.healh_bottom{
    display: flex;
}
.health_bottom p{
    width: calc(100% /2);
    border: 1px solid red;
    color: red;
}
.health_bottom p:nth-last-child(1){
    background-color: #EFEFEF;
}
.health_bottom p:nth-last-child(2){
    background-color: #4AB8BC;
}


